@model IEnumerable<Project_full.Models.Pojisteni>

@{
    ViewData["Title"] = "Index";
}

<h1>Seznam dostupných pojištění </h1>
<hr>
@if (TempData["ErrorMessage"] != null)
{
            <div class="alert alert-danger">
        @TempData["ErrorMessage"]
            </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PojistnaCastka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PojistnaCastka)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Upravit</a> 
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detail</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (User.IsInRole(UserRoles.Admin))
{
    <h3>Vytvořit nové pojištění</h3>
    <p>
        <a class="btn btn-success" asp-action="Create">Vytvořit</a>
    </p>
}