@using System.Globalization
@model Osoba

<h2>Detail uživatele</h2>

<div>

    <dl class="row">
        <dt class="col-sm-2">Jméno</dt>
        <dd class="col-sm-10">@Model.Jmeno</dd>

        <dt class="col-sm-2">Příjmení</dt>
        <dd class="col-sm-10">@Model.Prijmeni</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Datum Narození</dt>
        <dd class="col-sm-10">@Model.DatumNarozeni</dd>
        <dt class="col-sm-2">Telefonní číslo</dt>
        <dd class="col-sm-10">@Model.TelefonniCislo</dd>
        <dt class="col-sm-2">Věk</dt>
        <dd class="col-sm-10">@Model.Vek</dd>
        <dt class="col-sm-2">Bonus/Malus</dt>
        <dd class="col-sm-10">@Model.Bonus</dd>
        <dt class="col-sm-2">Seznam pojistek</dt>
        
            <ol class="m-4">

            @foreach (var item in Model.SeznamPojisteni) {
               <li>
				    @item.Pojisteni.Nazev - platné do: 
                    @item.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
                </li>
            }
            </ol>
       
        
    </dl>

    <div>

        <a class="btn btn-success" asp-controller="PojistneSmlouvy" asp-action="Index" asp-route-id="@Model?.Id">Upravit pojištění</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Upravit osobní údaje</a> 
        @if (ViewBag.ZobrazTlacitkoZpet != null && (bool)ViewBag.ZobrazTlacitkoZpet)
        {
            <a class="btn btn-warning" asp-action="Index">Zpět na seznam</a>
        }

    </div>
  
</div>