@using System.Globalization
@model Project_full.Models.PojistnaSmlouva

@{
    ViewData["Title"] = "Delete";
}

<h1>Zrušení pojistné smlouvy</h1>

<h3>Opravdu chcete zrušit tuto pojistnou smlouvu?</h3>
<div>
    <h4>PojistnaSmlouva</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pojisteni!.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pojisteni!.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirace)
        </dt>
        <dd class = "col-sm-10">
           @Model.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PojistnaUdalost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PojistnaUdalost)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Zrušit pojištění" class="btn btn-danger" /> 
        <a class="btn btn-warning" asp-action="Index">Zpět na seznam</a>
    </form>
</div>
