@using System.Globalization
@model Project_full.Models.PojistnaSmlouva

@{
    ViewData["Title"] = "Details";
}

<h1>Detail pojistné smlouvy</h1>

<div>
    
    <hr />
    <dl class="row">
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PojistenecId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PojistenecId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pojisteni.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pojisteni.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirace)
        </dt>
        <dd class = "col-sm-10">
            @Model.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PojistnaUdalost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PojistnaUdalost)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Uprav</a> 
    <a class="btn btn-warning" asp-action="Index">Zpět na seznam</a>
</div>
