@using System.Globalization
@model Project_full.Models.PojistnaSmlouva

@{
	ViewData["Title"] = "Edit";
}

<h1>Prodloužení platnosti</h1>

<h4>Pojistná Smlouva</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			@if (!ViewData.ModelState.IsValid)
			{
								<div class="alert alert-danger">
									<strong>Formulář obsahuje chyby! Opravit je a znovu odeslat formulář.</strong>
								</div>
			}
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" id="idField" />
<script>
	console.log("ID pole hodnota: " + document.getElementById("idField").value);
</script>

			<div class="form-group">
				<label asp-for="Pojisteni.Nazev" class="control-label"></label>
				<span> @Model.Pojisteni.Nazev </span>
			</div>

			@Html.DisplayNameFor(model => model.Expirace)
			@Model.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
			<div class="form-group">
				<label for="DelkaPojisteni">Vyberte platnost</label>
				<select asp-for="DelkaPojisteni" class="form-control" asp-items="@ViewBag.PlatnostList">
					<option value="">--Vyberte platnost--</option>
				</select>
			</div>
				
				<!-- Pro debugging -->
			<p>ID smlouvy: @Model.Id</p>
			<div class="form-group">
				<input type="submit" value="Prodloužit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

