@using System.Globalization
@model Project_full.Models.SjednaniPojisteniViewModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Prodloužení platnosti pojistné smlouvy</h1>


<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			
			@if (!ViewData.ModelState.IsValid)
			{
				<div class="alert alert-danger">
					<strong>Formulář obsahuje chyby! Opravit je a znovu odeslat formulář.</strong>
				</div>
			}
			<div class="form-group">

				<h3> @Model.Nazev </h3>
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="PojistnaSmlouvaId" id="idField" />
			@* <script>
			console.log("ID pole hodnota: " + document.getElementById("idField").value);
			</script> *@

			
			<strong>
				@Html.DisplayNameFor(model => model.Expirace)
				@Model.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
			</strong>

			<div class="form-group">
				<label for="DelkaPojisteni">Vyberte platnost</label>
				<select asp-for="DelkaPojisteni" class="form-control" asp-items="@Model.DelkaPojisteniOptions">
					<option value="">--Vyberte platnost--</option>
				</select>
			</div>

			<!-- Pro debugging -->
			@* <p>ID smlouvy: @Model.PojistnaSmlouvaId</p> *@
			<div class="form-group my-2">
				<input type="submit" value="Prodloužit" class="btn btn-primary" />
				<a class="btn btn-warning" asp-action="Index">Zpět</a>
			</div>
		</form>
	</div>
</div>

@* <div>
	<a class="btn btn-warning" asp-action="Index">Zpět</a>
</div> *@

