@using System.Globalization
@model IEnumerable<Project_full.Models.PojistnaSmlouva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
@*             <th>
                @Html.DisplayNameFor(model => model.PojistenecId)
            </th>*@
            <th> 
               <label>Typ sjednaného pojištění</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirace)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.PojistnaUdalost)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*             <td>
                @Html.DisplayFor(modelItem => item.PojistenecId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Pojisteni.Nazev)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Expirace.Date) *@
                <td>
                        @item.Expirace.ToString("d", CultureInfo.CreateSpecificCulture("cs-CZ"))
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.PojistnaUdalost)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Prodluž pojištění</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaily a pojistné události</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Zruš pojištění</a>
            </td>
        </tr>
}
    </tbody>
</table>
